<div class="col s12 m4">

  <a href="{{article.url}}">
    <div class="card lighten-4 center" style="padding: 10px; margin-bottom: 15px; font-weight: 400; border: 1px solid #c7c7c7">
    <img class="card-img-top" src="{{article.urlToImage}}" style="width: 400px; height: 400px"/>
    <div class="card-body">
    	<h5 class="red-text text-darken-2 card-title">{{ article.title }}</h5>
    </div>
  </div>
  </a>

	<div>
		<news-item *ngFor="let newsitem of newsitems" [newsitem]="newsitem"></news-item>
	</div>

</div>
